*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 20vh;
    width: 80vw;
    background: red;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.box{
    background: black;
    height: 100px;
    width: 100px;
}

